h1 {
    border: 1px solid gray;
    border-radius: 2px;
    background-color: rgb(240, 240, 123);
    padding: 15px;
  
    & ul {
      margin-top: 10px;
      padding-left: 0;
  
      & li {
        list-style: none;
        text-transform: capitalize;
      }
    }
  }
